* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

/* Navigation Bar Start */
.navbar {
  display: flex;
  justify-content: center;
  background-color: #fff;
  color: black;
  padding: 1.5rem;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar a {
  color: black;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  justify-content: left;
}
/* Navigation Bar Ends */

/* Konten 1 Start */
main .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem 8rem;
}

main .container .desk {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

main .container .desk h1 {
  font-size: 40px;
  width: 30rem;
}

main .container .desk h1 span {
  color: #5670d0;
  font-size: 50px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.6);
  transition: 0.2s ease;
}

main .container .desk h1 span:hover {
  color: #fff;
  background-color: #5670d0;
  padding: 1rem;
  border-radius: 4rem;
}

main .container .desk p {
  line-height: 1.5;
  text-align: justify;
  width: 26rem;
  font-size: 18px;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

main .container .desk a {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 2rem;
  color: black;
  text-align: center;
  width: 8rem;
  font-size: 18px;
}
/* Konten 1 End */

/* Konten 2 Start */
.about {
  padding-top: 6rem;
}

.about h1 {
  text-align: center;
  padding: 2rem;
}

.about .box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about .box .box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 2rem;
  width: 400px;
  height: 450px;
  gap: 2rem;
}

.about .box .box1 img {
  width: 200px;
  border-radius: 2rem;
}

.about .box .box1 a {
  color: black;
  font-size: 28px;
  font-weight: 200;
}

.about .box .box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 2rem;
  width: 400px;
  height: 450px;
  gap: 2rem;
}

.about .box .box2 img {
  width: 200px;
  border-radius: 2rem;
}

.about .box .box2 a {
  color: black;
  font-size: 28px;
  font-weight: 200;
}
/* Konten 2 End */
