* {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: center;
  color: black;
}

.navbar a {
  color: black;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  justify-content: left;
}

.container .desk {
  display: flex;
  flex-direction: column;
}

.container .desk a {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 2rem;
  color: black;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20rem;
}
